@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,800;0,900;1,400&display=swap');

html{
    scroll-behavior: smooth; /*Quando clica no link para  apropria pagina ele vai devagar*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Global*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.titulo{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

/*Inicio do cabeçalho*/
#cabecalho{
    background-color: black;
    margin-bottom: 30px;
}

#cabecalho .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cabecalho .logo{
    width: 30px;
}

#cabecalho #menu ul{
    display: flex;
    list-style: none;
}

#cabecalho #menu a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #ccc;
    transition: all 0.3s linear;
}

#cabecalho #menu a:hover{
    background-color: #06c;
    color: black;
}

/*Inicio Historia*/
#historia{
    padding-top: 50px;
    padding-bottom: 50px;
}

#historia img{
    float: left;
    margin-right: 20px;
    width: 500px;
    border-radius: 20px;
}

#historia p{
    text-align: justify;
    margin-bottom: 15px;

}

/*inicio modelos*/
#modelos .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}

#modelos .container div img{
    display: block;
    height: 300px;
    margin-bottom: 30px;
}

#modelos .container ul{
    padding-left: 20px;
    margin-bottom: 20px;
}

#modelos .container h3{
    margin-bottom: 20px;
}

#modelos .btn-comprar{
    background-color: #06c;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    transition: all .5s linear;
}

#modelos .btn-comprar:hover{
    color: #000;
    box-shadow: 3px 3px 10px #06c;
}

/*inicio fotos*/

#fotos .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

#fotos .container img{
    display: block;
    width: 100%;
    transition: all 0.3s linear;
}

#fotos .container img:hover{
    transform: scale(0.9);
}

/*inicio videos*/

#videos .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

#videos .container iframe{
    width: 100%;
}

/*inicio rodape*/

#rodape{
    background-color: #000;
    padding: 30px;
    color: #666;
    text-align: center;
    font-size: 12px;
}

#rodape a{
    text-decoration: none;
    color: rgb(36, 193, 241);;
    transition: .3s linear;
}

#rodape a:hover{
    background-color: rgb(36, 193, 241);
    color: #000;
    border-radius: 5px;
}